@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

:root {
  --main: #0080db;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background-image: url("../public/hexagon.jpg");
  background-size: cover;
  font-family: 'Gugi', cursive;
  color: white;
  overflow-x: hidden;
  height: 100vh;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

li {
  color: var(--main);
}

ul {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #0080db;
}

::-webkit-scrollbar-track {
  background-color: #5b5b5b;
  background-color: #b8b8b8;
}


