@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

:root {
  --main: #0080db;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background-image: url("../public/hexagon.jpg");
  background-size: cover;
  font-family: 'Gugi', cursive;
  color: white;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

li {
  color: var(--main);
}

ul {
  margin: 0;
  padding: 0;
}

