.home {

    margin: auto;
}

.home-container {
    color: white;
}


.home-container svg {
    fill: white;
    font-size: 4em;
    border: 2px solid white;
}

.blue {
    fill: var(--main);
}

.svg {
    height: 65px;
    width: 410px;
}